# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.spec

# IDE / Editor folders
.vscode/
.idea/

# Telhound-specific
telhound_log.db
blocklist.txt.bak